{% extends "shared/_plain_layout.html" %}
{% load blackwidow_filter %}
{% block title %}
    Foodex
{% endblock %}



{% block styles %}
    <style>
        .error_message {
            text-align: left;
            color: orangered;
            padding-top: 3px;
            font-style: oblique;
            font-size: small;
        }

    </style>
{% endblock %}


{% block content %}
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid">
        <div class="fbx-container">
            <!-- ***  ADD YOUR SITE CONTENT HERE *** -->
            <section>
                <div id="fbx-login" class="fbx-section fbx-login">
                    <div class="fbx-inner">
                        <div class="container-fluid">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-sm-offset-4 col-sm-4">
                                        <div class="fbx-content">
                                            <div class="fbx-logo">
                                                <img src="{{STATIC_URL}}fieldbuzz_themes/img/logo.png" alt=""/>
                                                <p style="margin: 17px;">Sales And Distribution System</p>
                                            </div>

                                            <div class="fbx-login-area">


                                                <div class="row-fluid">
                                                    <div class="flash_message hide">
                                                        {% if messages %}
                                                            <ul class="messages">
                                                                {% for message in messages %}
                                                                    <li{% if message.tags %}
                                                                        class="alert alert-{{ message.tags }}"{% endif %}>
                                                                        {{ message|remove_quote }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <form action="/account/login" method="post">

                                                    {% csrf_token %}
                                                    {% load widget_tweaks %}
                                                    {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}

                                                        {% if form.non_field_errors %}
                                                            <div class="alert alert-error" style="color: orangered">
                                                                {{ form.non_field_errors.0 }}
                                                            </div>
                                                        {% endif %}

                                                        <div class="form-group">
                                                            <input id="id_timezone" class="form-control" name="timezone"
                                                                   placeholder="Username" type="hidden" value="">
                                                            <input name="next" type="hidden"
                                                                   value="{{ request.GET.next }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" name="username" class="form-control"
                                                                   id="exampleInputEmail1" placeholder="Username"
                                                                   value="">
                                                            {% if form.username.errors %}
                                                                <div class="error_message">*This field is required.</div>
                                                            {% endif %}

                                                        </div>
                                                        <div class="form-group fbx-password">
                                                            <input type="password" name="password" class="form-control"
                                                                   id="exampleInputPassword1" placeholder="Password">
                                                                {% if form.password.errors %}
                                                                    <div class="error_message">*This field is required.</div>
                                                                {% endif %}
                                                        </div>
                                                        <input type="submit" value="Log In" class="login-btn"
                                                               id="loginsubmit" name="loginsubmit">
                                                        <p><a href="{% url 'bw_reset_password' %}">Forgot Password?</a>
                                                        </p>

                                                    {% endwith %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--//.COL-->
                                </div>
                                <!--//.ROW-->
                            </div>
                            <!--//. fbx CONTENT CONTENT-->
                        </div>
                        <!--//.CONAINER-->
                    </div>
                    <!--//.fbx INNER-->
                </div>
                <!--//.fbx SECTION -->
            </section>
            <!-- *************  //LOGIN END ************* -->
            <!-- //SITE CONTENT END -->
        </div>
        <!--//.fbx CONTAINER-->
    </div><!-- /.CONTAINER-FLUID -->
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}assets/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="{{ STATIC_URL }}js/form-validation.js"></script>


    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function () {
            if ($.trim($(".flash_message").html()) != '') {
                $(".flash_message").slideDown();
                setTimeout(function () {
                    $(".flash_message").slideUp();
                }, 5000);
            }
            ;

            var offset = new Date().getTimezoneOffset();
            $("#id_timezone").val(offset);
        });

    </script>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '580967932000189',
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };

        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "https://connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
    <script>
        function facebook_signin() {
            //console.log('moss');
            FB.login(function (response) {
                if (response.status === 'connected') {
                    console.log('connected');
                    testAPI(response.authResponse.accessToken);
                }
                else if (response.status === 'not_authorized') {
                    console.log('not_authorized');
                    //FB.login();
                    //testAPI(response.authResponse.accessToken);
                }
                else {
                    console.log('else');
                    //FB.login();
                    //testAPI(response.authResponse.accessToken);
                }
            }, {scope: 'email'});
        }

        function testAPI(authkey) {
            FB.api('/me?fields=id,email,first_name,last_name', function (response) {
                console.log('Good to see you, ' + response.id + '.');
                console.log(response.email);
                console.log(authkey);
                $.ajax({
                    type: "POST",
                    url: "/account/facebook",
                    dataType: "json",
                    data: {
                        'id': response.id,
                        'fname': response.first_name,
                        'lname': response.last_name,
                        'email': response.email,
                        'authkey': authkey
                    },
                    success: function (msg) {
                        if (msg['message'] === 'success');
                        window.location = '/';
                    }
                });
            });
        }
    </script>
    <!--
      Below we include the Login Button social plugin. This button uses the JavaScript SDK to
      present a graphical Login button that triggers the FB.login() function when clicked. -->
{% endblock %}