{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-6 col-md-6 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3 id="title-text" title="{{ title }}" data-ordering-column="{{ table_ordering_column }}">{{ title }}</h3>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
        {% load widget_tweaks %}
        {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}
            <div class="" style="padding: 0;">
                <form class="col-md-12 col-sm-12">
                    <div class="custom-col-12 col-md-12 col-sm-12" style="padding: 0;">
                        {% for field in parameters.G2 %}
                            <div class="custom-col-3 col-md-3 col-sm-6 form-group" style="display: block; padding: 0;">
                                <label class="control-label" for="{{ field.name.lower }}">{{ field.label }}</label>
                                <div class="col-md-12 col-sm-12 controls" style="padding-left: 0;">
                                    {% render_field field|add_error_class:'input-validation-error' %}
                                <span class="field-validation-valid" data-valmsg-replace="true"
                                      data-valmsg-for="{{ field.name.lower }}"></span>
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}

                        {% for field in parameters.G3 %}
                            <div class="custom-col-3 col-md-3 col-sm-6 form-group" style="display: block; padding: 0;">
                                <label for="{{ field.name.lower }}">{{ field.label }}</label>
                                <div class="col-md-12 col-sm-12 controls list-unstyled map-list"
                                     style="padding-left: 0;">
                                    {% render_field field|add_error_class:'input-validation-error' %}
                                <span class="field-validation-valid" data-valmsg-replace="true"
                                      data-valmsg-for="{{ field.name.lower }}"></span>
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}

                        {% for field in parameters.G1 %}
                            {% if field|is_datetime %}
                                <div class="custom-col-3 col-md-3 col-sm-6 form-group"
                                     style="display: block; padding: 0;">
                                    <label for="datetimepicker1">{{ field.label }}</label>
                                    <div class='col-md-12 col-sm-12 input-append date datetimepicker controls'
                                         id='datetimepicker1'
                                         style="padding-left: 0;">
                                        {% render_field field|add_error_class:'input-validation-error' %}
                                <span class="add-on date-sel">
                                    <i data-date-icon="icon-calendar"></i>
                                </span>
                                    </div>
                                </div>
                            {% else %}
                                {% if field.label == 'Select Zone/Area' %}
                                    <div class="custom-col-3 col-md-3 col-sm-6 form-group"
                                         style="display: block; padding: 0;">
                                {% else %}
                                    <div class="custom-col-3 col-md-3 col-sm-6 form-group"
                                         style="display: block; clear: both; padding: 0;">
                                {% endif %}
                            <label for="{{ field.name.lower }}">{{ field.label }}</label>
                            <div class="col-md-12 col-sm-12 controls"
                                 style="padding-left: 0;">
                                {% render_field field|add_error_class:'input-validation-error' %}
                                <span class="field-validation-valid" data-valmsg-replace="true"
                                      data-valmsg-for="{{ field.name.lower }}"></span>
                                {{ field.errors }}
                            </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <input type="submit" value="Load Report" style="margin-top: 20px;"
                               class="control-btn btn btn-medium generic-btn-style">
                        </div>
                    </div>
                </form>
            </div>
        {% endwith %}
    </div>
    <legend></legend>
    <div class="row-fluid report-container" style="margin: 20px 0;">
        <div id="report-view" class="span11">
        </div>
    </div>
{% endblock %}

{% block childscripts2 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        function loadReportData(ordering_column) {
            var parameters = {
                from_date: $("#id_from_date").val(),
                to_date: $("#id_to_date").val(),
                region: $("#id_region").val(),
                area: $("#id_area").val(),
                distributor: $("#id_distributor").val(),
                route: $("#id_route").val(),
                category: $("#id_category").val(),
                product: $("#id_product").val()
            };

            $("#report-view").html("<div class='alert alert-info' style='height:100%;'>Loading data ... </div>");


            $.ajax({
                url: '?format=json',
                type: 'get',
                data: parameters,
                dataType: 'json',
                success: function (result) {
                    $("#report-view").empty();
                    var report = result['report'];
                    var str = '<table id="nice-table" class="table table-bordered table-striped"><thead><tr>';
                    for (var hd in report[0]) {
                        str += '<th>' + report[0][hd] + '</th>';
                    }
                    str += '</tr></thead><tbody>';
                    console.log(str);
                    for (var i = 1; i < report.length; i++) {
                        str += '<tr>';
                        for (var td in report[i]) {
                            str += '<td>' + report[i][td] + '</td>';
                        }
                        str += '</tr>';
                    }
                    str += '</tbody></table>';
                    {#                    $("#report-view").append(str);#}

                    $('#report-view').fadeIn().html(str);
                    console.log('Table rendering complete');
                    $('#nice-table').dataTable({
                        "scrollX": false,
                        "order": [[ordering_column, "desc"]]
                    });
                },
                error: function (ad) {

                }
            });
        }


        $(function () {
            $(".date-selector").datepicker({
                format: 'dd-mm-yyyy'
            });
            $(".datetimepicker").datetimepicker({
                pick12HourFormat: true,
                pickTime: false
            });
            if ($("#id_from_date").val() == "") {
                var today = new Date();
                var one_week = (today.getDate() - 7);
                var one_week_old_date = new Date(today.setDate(one_week));

                var year_start = new Date();
                year_start.setYear(one_week_old_date.getFullYear());
                year_start.setMonth(one_week_old_date.getMonth());
                year_start.setDate(one_week_old_date.getDate());
                year_start.setHours(0);
                year_start.setMinutes(0);
                year_start.setSeconds(0);
                $("#id_from_date").val($.datepicker.formatDate("d/mm/yy", one_week_old_date));
            }
            if ($("#id_to_date").val() == "") {
                $("#id_to_date").val($.datepicker.formatDate("d/mm/yy", new Date()));
            }

            $(document).on("click", ".date-button-left", function () {
                var input = $(this).parent().find(".date-time-picker");
                input.val($.datepicker.formatDate("d/mm/yy", new Date($.datepicker.parseDate("d/mm/yy", input.val()).getTime() - (1 * 24 * 60 * 60 * 1000))));
            });

            $(document).on("click", ".date-button-right", function () {
                var input = $(this).parent().find(".date-time-picker");
                input.val($.datepicker.formatDate("d/mm/yy", new Date($.datepicker.parseDate("d/mm/yy", input.val()).getTime() + (1 * 24 * 60 * 60 * 1000))));
            });

            $(".control-btn").click(function (e) {
                e.preventDefault();

                $(this).addClass('active');
                var title = $('#title-text').attr("title");
                var ordering_column = $('#title-text').data("ordering-column");
                loadReportData(ordering_column);

            });

            $(".control-btn").first().trigger("click");
        });
    </script>
{% endblock %}