{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-6 col-md-6 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3>{{ title }}</h3>
        </div>
    </div>
    <div class="col-sm-5 col-md-5">
        <ul class="list-inline text-right bfz-adminbtn-list">
            <li>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
        {% load widget_tweaks %}
        {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}
            <div class="col-lg-6 col-md-6 col-sm-8 form-horizontal report-content-top">
                {% for field in parameters.G1 %}
                    <div class="control-group">
                        <label class="control-label" for="{{ form.prefix }}-{{ field.name.lower }}">{{ field.label }}</label>
                        <div class="controls">
                            <div class="input-append date datetimepicker">
                                &nbsp;&nbsp;
                                &nbsp;&nbsp;{% render_field field|add_error_class:'input-validation-error' %}
                                <span class="add-on date-sel">
                                    <i data-date-icon="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="control-group col-lg-8 col-md-6 col-sm-8">
                    <button class="btn-primary btn-large" id="dashboard-refresh-btn" style="float: right;">Update Table</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 form-horizontal report-content-top">
            </div>
        {% endwith %}
    </div>
    <legend></legend>
    <div  class="row-fluid report-container" style="margin: 20px 0;">
        <div id="report-view" class="span11">
        </div>
    </div>
{% endblock %}

{% block childscripts2 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        function loadReportData() {
            var parameters = {
                from_date : $("#id_from_date").val(),
                to_date : $("#id_to_date").val()
            };
            $("#report-view").fadeOut(function(){
                $("#report-view").fadeIn().html("<div class='alert alert-info' style='height:100%;'>Loading data ... </div>");
            });

            $.ajax({
                url: '?format=json',
                type: 'get',
                data: parameters,
                dataType: 'json',
                success: function(result){
                    $("#report-view").empty();
                    console.log(result);
                    var report = result['report'];
                    var str = '<table id="nice-table" class="table table-bordered table-striped"><thead><tr>';
                    for (var hd in report[0]) {
                        str += '<th>' + report[0][hd] + '</th>';
                    }
                    str += '</tr></thead><tbody>';
                    for (var i=1; i<report.length; i++) {
                        str += '<tr>';
                        for (var td in report[i]) {
                            str += '<td>' + report[i][td] + '</td>';
                        }
                        str += '</tr>';
                    }
                    str += '</tbody></table>';
                    $("#report-view").append(str);

                    $('#nice-table').dataTable({
                        "scrollX": false
                    });
                },
                error: function(ad){

                }
            });
        }


        $(function(){
            $(".date-selector").datepicker({format: 'dd-mm-yyyy'});
            $(".datetimepicker").datetimepicker({
                pick12HourFormat: true,
                pickTime: false
            });
            if ($("#id_from_date").val() == "") {
                var today = new Date();
                var one_week = (today.getDate() - 30);
                var one_week_old_date = new Date(today.setDate(one_week));

                var year_start = new Date();
                year_start.setYear(one_week_old_date.getFullYear());
                year_start.setMonth(one_week_old_date.getMonth());
                year_start.setDate(one_week_old_date.getDate());
                year_start.setHours(0);
                year_start.setMinutes(0);
                year_start.setSeconds(0);
                $("#id_from_date").val($.datepicker.formatDate("d/mm/yy", one_week_old_date));
            }
            if ($("#id_to_date").val() == "") {
                $("#id_to_date").val($.datepicker.formatDate("d/mm/yy", new Date()));
            }

            $(document).on("click", ".date-button-left", function(){
                var input = $(this).parent().find(".date-time-picker");
                input.val($.datepicker.formatDate("d/mm/yy", new Date($.datepicker.parseDate("d/mm/yy", input.val()).getTime() - (1 * 24 * 60 * 60 * 1000))));
            });

            $(document).on("click", ".date-button-right", function(){
                var input = $(this).parent().find(".date-time-picker");
                input.val($.datepicker.formatDate("d/mm/yy", new Date($.datepicker.parseDate("d/mm/yy", input.val()).getTime() + (1 * 24 * 60 * 60 * 1000))));
            });


            $('#dashboard-refresh-btn').on("click", function() {
                loadReportData();
            })

            $(document).ready(function () {
                loadReportData();
            });

        });
    </script>
{% endblock %}