{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-6 col-md-6 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3>{{ title }}</h3>
            {#            <small>Report</small>#}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
        {% load widget_tweaks %}
        {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}
            <div class="col-lg-5 col-md-5 form-horizontal report-content-top"
                 style="padding-left: 0; padding-right: 0;">
                {% for field in parameters.G2 %}
                    <div class="span12 control-group" style="clear: both;">
                        <label class="span10 control-label" for="{{ field.name.lower }}">{{ field.label }}</label>

                        <div class="controls">
                            &nbsp;&nbsp;{% render_field field|add_error_class:'input-validation-error' %}
                            <span class="field-validation-valid" data-valmsg-replace="true"
                                  data-valmsg-for="{{ field.name.lower }}"></span>
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-lg-7 col-md-7 form-horizontal report-content-top">
                {% for field in parameters.G3 %}
                    <div class="control-group" style="clear: both;">
                        <label class="control-label" for="{{ field.name.lower }}">{{ field.label }}</label>

                        <div class="controls">
                            &nbsp;&nbsp;{% render_field field|add_error_class:'input-validation-error' %}
                            <span class="field-validation-valid" data-valmsg-replace="true"
                                  data-valmsg-for="{{ field.name.lower }}"></span>
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endwith %}
    </div>
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12">
            <ul class="nav nav-tabs">
                {% for field in parameters.G1 %}
                    <li class="control-btn" data-report-url="{{ field.label }}" role="presentation"><a>{{ field.label }}</a></li>
                {% endfor %}
            </ul>
            <iframe id="reportsFrame" height="620px" width="100%">
            </iframe>
        </div>
    </div>

    <div id="col-lg-7 col-md-7 report-view" class="row-fluid report-container">
    </div>
{% endblock %}

{% block childscripts2 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        $(window).resize(function () {
            drawChart();
        });

        var charts = [];
        var prep_selected_tab="";
        var pre_selected_report_type = "Weekly";
        var select_values = [];
        function drawSingleChart(data, element) {

        }

        var load_report_in_iframe = function(report_url) {
            var parameters = {
                region: $('#id_region').val(),
                area: $('#id_area').val(),
                distributor : $("#id_distributor").val(),
                retailer : $("#id_retailer").val(),
                product : $("#id_product").val(),
                category : $("#id_category").val(),
                type: report_url
            };

            pre_selected_report_type = report_url;
            $("#reportsFrame").attr("src", "");
            $("#reportsFrame").attr("srcdoc", "<h3>Loading...</h3><p>Please wait, while applying filter and loading the required report.</p>");

            $.ajax({
                url: '?format=json',
                type: 'get',
                data: parameters,
                dataType: 'json',
                success: function(result){
                    if (result.href != null && result.href != '') {
                        $("#reportsFrame").removeAttr('srcdoc')
                        $("#reportsFrame").attr("src", result.href);
                        console.log(result.href);
                    }
                    else {
                        $("#reportsFrame").attr("src", "");
                        $("#reportsFrame").attr("srcdoc", "<h3>Sorry...</h3><p>No record found for the specified filter. Please try with different filtering options.</p>");
                    }
                },
                error: function(ad){
                }
            });
        }

        $(function () {

            $(document).on("change", ".select2", function () {
                load_report_in_iframe(pre_selected_report_type);
            });

            $(document).on("change", ".select2-input", function() {
               var val = $(this).prop("value");
                if (val!=null && val!='') {
                    load_report_in_iframe(pre_selected_report_type);
                }
            });
//
//            $(document).on("change", "#id_product", function () {
//                load_report_in_iframe(pre_selected_report_type);
//            });
//
//            $(document).on("change", "#id_retailer", function () {
//                load_report_in_iframe(pre_selected_report_type);
//            });

            $(document).on("change", "#id_show_on_map", function () {

            });
            {#        $("a").click(function(e) {#}
            {#            e.preventDefault();#}
            {#            var report_url = $(this).data('report-url');#}
            {#            if(typeof report_url != "undefined" && report_url != ""){#}
            {#                $("#reportsFrame").attr("src",report_url);#}
            {#            }#}
            {#        });#}
            $(".control-btn").click(function (e) {
                e.preventDefault();
                var report_url = $(this).data('report-url');
                if (typeof report_url != "undefined" && report_url != "") {
                    $(this).addClass('active');
                    $(prep_selected_tab).removeClass('active');
                    prep_selected_tab=this;

                    load_report_in_iframe(report_url);
                }
            });

            $(".control-btn").first().trigger("click");
        });
    </script>
{% endblock %}