{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-6 col-md-6 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3>{{ title }}</h3>
            {#            <small>Report</small>#}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
        {% load widget_tweaks %}
    </div>
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12">
            <iframe id="reportsFrame" height="620px" width="100%" src="{{ saiku_root }}">
            </iframe>
        </div>
    </div>

    <div id="col-lg-7 col-md-7 report-view" class="row-fluid report-container">
    </div>
{% endblock %}

{% block childscripts2 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}