{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
<link rel="stylesheet" media="all" href="{{STATIC_URL}}css/hover.css">
<!--<link rel="stylesheet" media="all" href="{{STATIC_URL}}css/bs.css">-->
<div class="col-sm-1 hidden-xs"></div>
<div class="row-fluid">
    <div class="col-sm-6 col-md-6 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3 id="title-text">{{ title }}</h3>
        </div>
    </div>
    <div class="dropdown pull-right" style="margin-right: 24px; margin-top: 7px;">
        <button class="btn btn-medium pull-right load-map-button generic-btn-style" id="daily-opt" style="display: none;">Change to daily</button>
        <button class="btn btn-medium pull-right load-map-button generic-btn-style" id="monthly-opt" style="display: none;">Change to monthly</button>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
    {% load widget_tweaks %}
    {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}

    <div class="col-lg-6 col-md-6 form-horizontal report-content-top">
        <div class="row-fluid" style="padding-bottom: 50px;">
            <div class="row-fluid">
                <div id="id_widget_0" style="height: 300px;"></div>
            </div>
            <div class="row-fluid">
                <div id="id_widget_2" style="height: 450px;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 form-horizontal report-content-top">
        <div class="row-fluid" style="padding-bottom: 50px;">
            <div class="row-fluid">
                <div id="id_widget_1" style="height: 300px;"></div>
            </div>
            <div class="row-fluid">
                <div id="id_widget_3" style="height: 450px;"></div>
            </div>
        </div>
    </div>
    {% endwith %}
</div>
{% endblock %}

{% block childscripts2 %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    var createCookie = function(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) {
                    c_end = document.cookie.length;
                }
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }

    $(window).resize(function() {
        drawChart();
    });

    var charts = [null, null, null, null];
    var widgets = ['id_widget_0','id_widget_1','id_widget_2','id_widget_3'];
    function drawSingleChart(data, element) {
        var _element = document.getElementById(element);
        _element.classList.add('hvr-glow');
        var chart = null;
        if (data.type == 'ColumnChart'){
            chart = new google.visualization.ColumnChart(_element);
        }else if(data.type == 'LineChart'){
            chart = new google.visualization.LineChart(_element);
        } else if (data.type == 'AreaChart') {
            chart = new google.visualization.AreaChart(_element);
        }
        if (chart != null) {
            chart.draw(google.visualization.arrayToDataTable(data.data), data.options);
        }
    }

    function drawChart() {
        for (var i = 0; i < charts.length; i++){
            var _element = document.getElementById(charts[i].element_id);
            var chart = null;
            if (charts[i].type == 'ColumnChart'){
                chart = new google.visualization.ColumnChart(_element);
            }else if(charts[i].type == 'LineChart'){
                chart = new google.visualization.LineChart(_element);
            }
            if (chart != null && charts[i].data.length>1) {
                chart.draw(google.visualization.arrayToDataTable(charts[i].data), charts[i].options);
            } else {
                _element.style.display = 'none';
            }
        }
    }
    google.load("visualization", "1", {packages:["corechart"]});
//    google.setOnLoadCallback(drawChart);

    function loadChartData() {
        var parameters = {
            hub : $("#id_hub").val(),
            territory : $("#id_territory").val(),
            options : $("#id_show_on_map").val()
        };
        $("#id_widget_0, #id_widget_1, #id_widget_2, #id_widget_3").fadeOut(function(){
            $("#id_widget_0, #id_widget_1,#id_widget_2, #id_widget_3").fadeIn().html("<div class='alert alert-info'>Loading data ... </div>");
        });

        var period = getCookie('period');
        if (period=="") {
            period = "Monthly";
        }
        if (period=="Monthly") {
            $('#title-text').html('Foodex: Sales Insight (Monthly)');
            $('#monthly-opt').css('display','none');
            $('#daily-opt').css('display','block');
        } else {
            $('#title-text').html('Foodex: Sales Insight (Daily)');
            $('#daily-opt').css('display','none');
            $('#monthly-opt').css('display','block');
        }
        widgets.forEach(function(element, index) {
            $('#' + element).removeClass('hvr-glow');
            $.ajax({
                url: '?format=json',
                type: 'get',
                data: {
                    type: index,
                    period: period
                },
                dataType: 'json',
                success: function(data){
                    if (data.data.length < 2) {
                        $('#' + element).fadeOut(function() {
                            $('#' + element).fadeIn().html("<div class='alert alert-info' style='height: 100%;'>No data to render in this range. </div>");
                        });
                    }
                    else {
                        $('#' + element).empty();
                        drawSingleChart(data, element);
                    }
                },
                error: function(data) {

                }
            });
        });
    }

    function exportReportFile() {
        $("#a_export_download").click();
    }

    $('#daily-opt').click(function(){
        createCookie('period', 'Daily', 30);
        loadChartData();
    });

    $('#monthly-opt').click(function(){
        createCookie('period', 'Monthly', 30);
        loadChartData();
    });

    $(function(){
        loadChartData();
    });
</script>
<!--<script type="text/javascript" src="{{STATIC_URL}}js/bs.min.js"/>-->

{% endblock %}