{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-6 col-md-6 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3 id="title-text" title="{{ title }}" data-ordering-column="{{ table_ordering_column }}">{{ title }}</h3>
        </div>
    </div>
    <div class="col-sm-5 col-md-5">
        <ul class="list-inline text-right bfz-adminbtn-list">
            {% for field in parameters.G1 %}
                <li class="btn btn-medium control-btn" data-report-url="{{ field.name }}"
                    role="presentation"><a>{{ field.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
        {% load widget_tweaks %}
        {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}
        {% endwith %}
    </div>
    <legend></legend>
    <div class="row-fluid report-container" style="margin: 20px 0;">
        <div id="report-view" class="span11">
        </div>
    </div>
{% endblock %}

{% block childscripts2 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        function loadReportData(ordering_column, report_type) {

            $("#report-view").fadeOut(function () {
                $("#report-view").fadeIn().html("<div class='alert alert-info' style='height:100%;'>Loading data ... </div>");
            });

            $.ajax({
                url: '?format=json',
                type: 'get',
                data: {
                    'report_type': report_type
                },
                dataType: 'json',
                success: function (result) {
                    $("#report-view").empty();
                    console.log(result);
                    var report = result['report'];
                    var str = '<table id="nice-table" class="table table-bordered table-striped"><thead><tr>';
                    for (var hd in report[0]) {
                        str += '<th>' + report[0][hd] + '</th>';
                    }
                    str += '</tr></thead><tbody>';
                    for (var i = 1; i < report.length; i++) {
                        str += '<tr>';
                        for (var td in report[i]) {
                            str += '<td>' + report[i][td] + '</td>';
                        }
                        str += '</tr>';
                    }
                    str += '</tbody></table>';
                    $("#report-view").append(str);

                    $('#nice-table').dataTable({
                        "scrollX": false,
                        "order": [[ordering_column, "asc"]]
                    });
                },
                error: function (ad) {

                }
            });
        }

        $(document).ready(function () {
            var ordering_column = $('#title-text').data("ordering-column");
            loadReportData(ordering_column, 'Area');
        });


        $(function () {

            $(".control-btn").click(function (e) {
                e.preventDefault();
                $('.generic-btn-style').removeClass('generic-btn-style');
                $(this).addClass('generic-btn-style');
                var report_url = $(this).data('report-url');
                if (typeof report_url != "undefined" && report_url != "") {
                    $(this).addClass('active');
                    var title = $('#title-text').attr("title");
                    var ordering_column = $('#title-text').data("ordering-column");
                    loadReportData(ordering_column, report_url);

                    $('#title-text').html(title + '(' + report_url + ')');
                }
            });

            $(".control-btn").first().trigger("click");
        });

    </script>
{% endblock %}