{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <link rel="stylesheet" media="all" href="{{STATIC_URL}}css/hover.css">
    <div class="col-sm-1 hidden-xs"></div>
    <div class="row-fluid">
        <div class="col-sm-6 col-md-6 titleclass">
            <div class="fbx-title  xs-text-center">
                <h3 id="title-text">{{ title }}</h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block styles %}
    <style>
        h1 {
            text-align: center;
            font-size: large;
        }
        .row-fluid div p{
            font-size: 30px;
            text-align: center;
            margin-top: 5px;
        }
        #id_widget_0,#id_widget_1,#id_widget_2,#id_widget_3{
            background-color: 	#FFFAFA;
            box-shadow: 10px 10px 5px #888888;
            border-radius: 8px;
            padding-top: 30px;
            height: 200px;
        }
        .custom-row-fluid{
            padding-bottom: 50px;
            padding-top: 10px;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
        {% load widget_tweaks %}
        {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}

            <div class="col-lg-6 col-md-6 form-horizontal report-content-top">
                <div class="row-fluid custom-row-fluid">
                    <div class="row-fluid" style="margin-bottom: 20px;">
                        <div id="id_widget_0">
                            <h1>{{ report.0.0 }}</h1>
                            <p>{{ report.0.1 }}</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="id_widget_2">
                            <h1>{{ report.2.0 }}</h1>
                            <p>{{ report.2.1 }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 form-horizontal report-content-top">
                <div class="row-fluid custom-row-fluid">
                    <div class="row-fluid" style="margin-bottom: 20px;">
                        <div id="id_widget_1">
                            <h1>{{ report.1.0 }}</h1>
                            <p>{{ report.1.1 }}</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="id_widget_3">
                            <h1>{{ report.3.0 }}</h1>
                            <p>{{ report.3.1 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}

{% block childscripts2 %}
    <script type="text/javascript">
    </script>
{% endblock %}