{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-6 col-md-6 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3 id="title-text" title="{{ title }}" data-ordering-column="{{ table_ordering_column }}">{{ title }}</h3>
        </div>
    </div>
    <div class="col-sm-5 col-md-5">
        <ul class="list-inline text-right bfz-adminbtn-list">
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row-fluid reports-div fbx-content fbx-grossprofit-content">
        {% load widget_tweaks %}
        {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}
        {% endwith %}
    </div>
    <legend></legend>
    <div  class="row-fluid report-container" style="margin: 20px 0;">
        <div id="report-view" class="span11">
        </div>
    </div>
{% endblock %}

{% block childscripts2 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        function loadReportData(ordering_column) {
            var parameters = {
{#                report_type : report_url#}
            };

            $("#report-view").fadeOut(function(){
                $("#report-view").fadeIn().html("<div class='alert alert-info' style='height:100%;'>Loading data ... </div>");
            });

            $.ajax({
                url: '?format=json',
                type: 'get',
                data: parameters,
                dataType: 'json',
                success: function(result){
                    $("#report-view").empty();
                    console.log(result);
                    var report = result['report'];
                    var str = '<table id="nice-table" class="table table-bordered table-striped"><thead><tr>';
                    for (var hd in report[0]) {
                        str += '<th>' + report[0][hd] + '</th>';
                    }
                    str += '</tr></thead><tbody>';
                    for (var i=1; i<report.length; i++) {
                        str += '<tr>';
                        for (var td in report[i]) {
                            str += '<td>' + report[i][td] + '</td>';
                        }
                        str += '</tr>';
                    }
                    str += '</tbody></table>';
                    $("#report-view").append(str);

                    $('#nice-table').dataTable({
                        "scrollX": false,
                        "order": [[ ordering_column, "asc" ]]
                    });
                },
                error: function(ad){

                }
            });
        }

        $(document).ready(function () {
            var ordering_column = $('#title-text').data("ordering-column");
            loadReportData(ordering_column);
        });

    </script>
{% endblock %}