@media print{
    *{
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        list-style: none;
        margin: 0px 0px 0px 0px;
        padding: 0;
        text-decoration: none;
    }
    /*heading*/

    /* page */
    body{

    }

    .page {
        width:21cm;
        height:29.5cm;
        /* border: 1px #000 solid;*/
        background: white;

        /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    }


    /*header*/
    header{
        /*height:2cm;*/
        margin-top:0.5cm;
    }
    header h1{
        font: bold 100% sans-serif;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
    }

    header address {
      font-size: 12px;
      font-style: normal;
      line-height: 2px;
      margin-top: -10px;
      -moz-margin-top: -22px !important; /* for mozilla */
    }

    header address p {
        text-align: center;
    }

    .invoice_heading {
    }

    .invoice_heading h5{
        text-align:center;
        font-weight:bold;
    }
    /*first table*/

    .table{
        margin-bottom:0px !important;
    }
    #first_table{
        border:1px solid black;
        margin-bottom:none;
        width:21cm;
        height:12.89%;
    }
    #first_table td{
        border-top:none;
        padding-left: 5px;
    }
    #first_head_row{
        border:1px solid black;
        height:1cm;
    }

    /*second table*/

    #second_table{
        border:1px solid black;
        margin:0px 0px 0px 0px;
        width:21cm;
    }
    #second_table td{
        border-top:none;
        border-left:1px solid black;
        border-right:1px solid black;
        padding: 3px 7px;
    }
    #second_head_row{
        border:1px solid black;
        border-top: 0;
        height:0.8cm;
        font-weight:bold;
        text-align:center;
    }
    .second_content_row{
        height:15px;
    }

    .second_content_row td p {
        margin: auto;
    }


    #total_row{
        border-top:1px solid black;
        height:0.5cm;
    }
    #in_words_row{
        border-top:1px solid black;
        height:1cm;
    }

    /*third table*/

    .third_table{
        border:1px solid black;
        border-top: 0;
        width:21cm;
        height:11.86%;
    }
    .third_table td{
        border:1px solid black;
    }
    table.third_table td:nth-child(2){
        width:320px;
    }


    .sl_no{
        width:1.1cm;
    }
    .desc_group{
        width:10.15cm;
    }
    .pack_size{
        width:2cm;
    }
    .quantity{
        width:2cm;
    }
    .custom_pack_size{
        width:3cm;
    }
    .custom_quantity{
        width:3cm;
    }
    .rate{
        width:2cm;
    }
    .per{
        width:0.9cm;
    }
    .amount{
        width:2.8cm;
    }
    #signature_row p{
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .page_break_class {
        page-break-after: always;
    }
    .page-break-before {
        page-break-before: always;
    }
    .third_table tr td {
        padding: 4px;
    }
    .show-on-print {
        /*visibility: visible;*/
    }
    .footer_t {
        display: table;
        /*position: absolute;*/
        /*bottom: 0;*/
        width: 100%;
    }
    .pageCounter {
        display: table-footer-group;
    }

    .pageCounter:after {
        counter-increment: page;
        content: "Page " counter(page);
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
/*end of print*/
}