{% load widget_tweaks %}
{% load blackwidow_filter %}
<form id="id_advanced_edit_form" action="#" method="POST">
    <input type="hidden" name="search" value="1"/>
    <table class="table">
    {% if form %}
        {% for field in form %}
            {% if field|is_hidden %}
            {% elif field|is_datetime %}

            {% elif field.name.lower == 'delete' %}

            {% elif field.name.lower == 'password' or field.name.lower == 'confirm_password' %}

            {% else %}
                <tr>
                    <td>
                        {{ field.label }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% else %}
        <tr>
            <td>
                No form loaded.
            </td>
        </tr>
    {% endif %}
    </table>

    <table class="table">

    {% for child_form in form.suffix_child_forms %}
    <tr>
        <td>

            {% for f in child_form %}
            <ul class="list-inline" style="margin-top: 7px;">
                <li>
                    <label>Product</label> {{ f.product }}
                </li>
                <li>
                    <label>Total</label> {{ f.total_items }}
                </li>
                <li>
                    <label>Return Quantity</label> {{ f.return_quantity }}
                </li>
            </ul>
            {% endfor %}

        </td>
    </tr>
    {% endfor %}

    </table>
</form>

<script>
    function loadSelect2() {
        $('select').select2();
    }
    window.onload = loadSelect2();
</script>