<form id="id_advanced_download_form" action="advanced-download/" method="GET">
    <input type="hidden" name="search" value="1"/>
    {% if form %}
        {{ form }}
    {% else %}
        Click Start Download below to start
    {% endif %}
</form>

<script>
    function loadSelect2() {
        $('select').select2();
    }
    window.onload = loadSelect2();
</script>