<form id="id_advanced_export_form" action="advanced-export/" method="GET">
    <input type="hidden" name="search" value="1"/>
    {% if form %}
        {{ form }}
    {% else %}
        <input type="hidden" id="id_no_export_form" value="true"/>
        Click Start Export below to start
    {% endif %}
</form>

<script>
    function loadSelect2() {
        $('select').select2();
    }
    window.onload = loadSelect2();
</script>