<div class="row-fluid" style="margin-left: 0px;">
    <div class="no-border no-padding">
        {% load render_table from django_tables2 %}
        {% render_table table %}
    </div>
</div>
<script>
    function loadTable() {
        $('.table').dataTable( {
            "bSort": false,
            "bFilter": false,
            "bInfo": false,
            "bJQueryUI": false,
{#            "bAutoWidth": false,#}
{#            "scrollX": true,#}
            "bPaginate" : false
        });
        jQuery('.dataTable').wrap('<div class="dataTables_scroll" style="position:relative;"/>');
    }
    window.onload=loadTable;
</script>
{% include 'shared/display-templates/_pagination.html' %}