{% load widget_tweaks %}
{% load blackwidow_filter %}
{% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}
    {% for child_form in form.prefix_child_forms %}
        {% if child_form.render_table %}
            {% include 'shared/display-templates/_generic_formset.html' with child_form=child_form counter=forloop.counter0 %}
        {% else %}
            {% include 'shared/display-templates/_generic_formset.html' with child_form=child_form counter=forloop.counter0 %}
        {% endif %}
    {% endfor %}
    {% if form.render_table %}
        {% for field in form %}
            {% if field|is_hidden %}

            {% elif field|is_datetime %}
                <td style="border-top:none; padding: 0px;">
                    <div class="input-append date datetimepicker">
                        {% render_field field|add_error_class:'input-validation-error' %}
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                    </div>
                    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                    {{ field.errors }}
                </td>
            {% elif field.name.lower == 'delete' %}

            {% elif field.name.lower == 'password' or field.name.lower == 'confirm_password' %}
                <td style="border-top:none; padding: 0px;">
                    {% render_field field|add_error_class:'input-validation-error' %}
                    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                    {{ field.errors }}
                </td>
            {% else %}
                <td style="border-top:none; padding: 0px;">
                    {% render_field field|add_error_class:'input-validation-error'|add_prefix:form.prefix %}
                    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                    {{ field.errors }}
                </td>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="col-sm-12 fbx-content-shop">
            <div class="fbz-product-content-left">
            {% if form.show_form_inline %} <ul class="list-inline"> {% endif %}
            {% for field in form %}
                {% if field|is_hidden %}
                    {% render_field field|add_error_class:'input-validation-error' %}
                {% elif field|is_visible %}
                    <div class="control-group hidden">
                    <label class="col-md-6 control-label" for="{{ form.prefix }}-{{ field.name.lower }}">{{ field.label }}</label>
                    <div class="controls">{% render_field field|add_error_class:'input-validation-error'|add_prefix:form.prefix %}
                        <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                        {{ field.errors }}
                    </div>
                    </div>
                {% elif field|is_datetime %}
                    <div class="control-group">
                        <label class="col-md-6 control-label" for="{{ form.prefix }}-{{ field.name.lower }}">{{ field.label }}</label>
                        <div class="controls input-append date datetimepicker">
{#                            <div class="">#}
                                {% render_field field|add_error_class:'input-validation-error' %}
                                <span class="add-on">
                                  <i data-time-icon="icon-time" data-date-icon="icon-calendar" style="display: inline-block"></i>
                                </span>
{#                            </div>#}
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                            {{ field.errors }}
                        </div>
                    </div>
                {% elif field.name.lower == 'delete' %}

                {% elif field.name.lower == 'password' or field.name.lower == 'confirm_password' %}
                    <div class="control-group" style="clear: both;">
                        <label class="col-md-6 col-xs-6 control-label" for="{{ form.prefix }}-{{ field.name.lower }}">{{ field.label }}</label>
                        <div class="controls">{% render_field field|add_error_class:'input-validation-error' %}
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                            {{ field.errors }}
                        </div>
                    </div>
                {% else %}
                    {% if form.show_form_inline %} <li> {% endif %}
                    <div class="control-group">
                        {% if form.show_form_inline %}
                        {% if current_iteration == 0 %}
                        <label class="col-md-6 control-label" for="{{ form.prefix }}-{{ field.name.lower }}">{{ field.label }}</label>
                        <div class="controls">{% render_field field|add_error_class:'input-validation-error'|add_prefix:form.prefix %}
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                            {{ field.errors }}
                        </div>
                        {% else %}
                        <label class="col-md-6 control-label" for="{{ form.prefix }}-{{ field.name.lower }}" style="visibility: hidden;">{{ field.label }}</label>
                        <div class="controls">{% render_field field|add_error_class:'input-validation-error'|add_prefix:form.prefix %}
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {% else %}
                        <label class="col-md-6 control-label" for="{{ form.prefix }}-{{ field.name.lower }}">{{ field.label }}</label>
                        <div class="controls">{% render_field field|add_error_class:'input-validation-error'|add_prefix:form.prefix %}
                            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="{{ form.prefix|get_prefix }}{{ field.name.lower }}"></span>
                            {{ field.errors }}
                        </div>
                        {% endif %}




                    </div>
                    {% if form.show_form_inline %} </li> {% endif %}
                {% endif %}
            {% endfor %}
                {% if child_form.add_more %}
                <li style="list-style-type: none;">
                <div class="span2">
                    <button class="btn btn-small fis-remove-ico btn-inline-remove"
                        data-prefix="{{ child_form.prefix }}" type="button"
                        style="margin-right: 67px;">
                    </button>
                </div>
                </li>
                {% endif %}
            {% if form.show_form_inline %} </ul> {% endif %}
            </div> <!--//PRODUCT CONTENT LEFT-->
        </div> <!--//.COL 6-->
    {% endif %}
    {% for child_form in form.suffix_child_forms %}
        {% if child_form.render_table %}
            {% include 'shared/display-templates/_generic_formset.html' with child_form=child_form counter=forloop.counter0 %}
        {% else %}
            {% include 'shared/display-templates/_generic_formset.html' with child_form=child_form counter=forloop.counter0 %}
        {% endif %}
    {% endfor %}
{% endwith %}
{% block childscripts2 %}
    <script>
        function loadSelect2() {
            $('.select').select2();
        }
        window.onload=loadSelect2;
    </script>
{% endblock %}