<div class="row-fluid" style="margin-left: 0px;">
    <div class="pull-left search-filter" style="padding-top: 2px; margin-top: -5px;">
        {%  include search_template with filters=searchables%}
    </div>
    <div class="pull-right" style="padding-top: 3px ">
        <strong>{{ count }}</strong> items in total
    </div>
</div>
<div class="row-fluid" style="margin-left: 0px;">
    <div class="no-border no-padding">
        {% load render_table from django_tables2 %}
        {% render_table table %}
    </div>
</div>
{% include 'shared/display-templates/_pagination.html' %}