<div class="row-fluid" style="margin-left: 0px;">
    <div class="pull-left search-filter" style="padding-top: 2px; margin-top: -5px; max-width: 75%;">
        {% include search_template with filters=searchables %}
    </div>
    <div class="pull-right" style="padding-top: 3px ">
        <strong>{{ count }}</strong> items in total
    </div>
</div>
<div class="row-fluid" style="margin-left: 0px;">
    <div class="no-border no-padding">
        {% if tab.enable_inline_edit %}
            <form class="form form-inline" method="post"
                  action="{% url tab.route_name pk=data.id tab=tab.access_key %}">
            <div class="alert alert-error" style="display: none;">
                You have unsaved changes. Please click 'Save Changes' button to save changes to server.
                <button data-ajax="1" type="button" class="btn btn-danger btn-small btn-save-inline-form">Save Changes
                </button>
            </div>
        {% endif %}
        {% load render_table from django_tables2 %}
        {% render_table table %}
        {% if tab.enable_inline_edit %}
            </form>
        {% endif %}
    </div>
</div>
{% include 'shared/display-templates/_pagination.html' %}

{% block childscripts2 %}
    <script>
        $(document).ready(function () {
            $("select.pageSizeSelect").select2();
        });
    </script>
{% endblock %}