<div tabindex="-1" class="modal hide" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="blue bigger"></h4>
    </div>
    <div class="modal-body overflow-visible">
        <div class="row-fluid">
            <div class="span5">
                <div class="space"></div>
                <div class="ace-file-input ace-file-multiple"><input type="file"><label data-title="Drop files here or click to choose"><span data-title="No File ..."><i class="icon-cloud-upload"></i></span></label><a href="#" class="remove"><i class="icon-remove"></i></a></div>
            </div>
            <div class="vspace"></div>
            <div class="span7">
                <div class="control-group">
                    <label for="form-field-username" class="control-label">Username</label>

                    <div class="controls">
                        <input type="text" value="alexdoe" placeholder="Username" id="form-field-username">
                    </div>
                </div>

                <div class="control-group">
                    <label for="form-field-first" class="control-label">Name</label>

                    <div class="controls">
                        <input type="text" value="Alex" placeholder="First Name" id="form-field-first" class="input-small">
                        <input type="text" value="Doe" placeholder="Last Name" id="form-field-last" class="input-small">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-small">
            <i class="icon-remove"></i>
            Cancel
        </button>

        <button class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Save
        </button>
    </div>
</div>