/********** author 'shamil' *********/

.selection input {
}

form input.search-input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 169, 157, 0.89);
  box-shadow: 0 1px 1px rgba(0, 169, 157, 0.43) inset, 0 0 4px rgba(0, 192, 179, 0.45);
  outline: 1px none;
}

input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"],
.dropdown-menu {
    font-size: 1.2rem;
}

label, input, button, select, textarea, .search-item-container {
    font-size: 1.2rem;
    font-family: tahoma,arial,helvetica,roboto,sans-serif;
}