/********** author 'shamil' *********/

#fbx-login .fbx-content .fbx-login-area {
    border-radius: 0;
}

#fbx-login .fbx-content .fbx-login-area form .login-btn {
    min-width : 80px;
    padding-top: 12px;
    padding-left: 45px;
}

.flash_message {
}

.signin .signin-wrapper {
    border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
}