{% extends 'shared/_viewport.html' %}

{% load blackwidow_filter %}
{% block header %}
    <div class="col-sm-1 hidden-xs">

    </div>

    <div class="col-sm-5 col-md-4 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3>{{ display_model }}</h3>
        </div>
    </div>
    <div class="col-sm-6 col-md-7">
        <ul class=" list-inline text-right bfz-adminbtn-list">
            {% for btn in manage_buttons %}
                {% if btn.action_type == 'all-multi-action' %}
                    <li>
                        <a class="btn btn-medium manage-action {{ btn.action_type }} dropdown-toggle"
                           data-toggle="dropdown" data-url="{{ btn.link }}" href="{{ btn.link }}">
                            <i class="{{ btn.icon }}"></i>&nbsp;{{ btn.name }}&nbsp;<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for submenuitem in btn.items %}
                                <li><a data-url="{% url submenuitem.url_name %}{{ submenuitem.parameters }}"
                                       href="
                                               {% url submenuitem.url_name %}{{ submenuitem.parameters }}">{{ submenuitem.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="manage-action  btn btn-medium {{ btn.action_type }}" data-url="{{ btn.link }}" href="{{ btn.link }}">
                            <i class="{{ btn.icon }}"></i>
                            <span>{{ btn.name }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div> <!--//.COL-->
{% endblock header %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/fixedColumns.dataTables.min.css">
    <script src="{{ STATIC_URL }}js/lib/jquery-1.12.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/dataTables.fixedColumns.min.js"></script>
    <style>
        th, td { white-space: nowrap; }
        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }
        #datatable_container {
            margin-top: 7px;
            margin-right: 3px;
            margin-bottom: 3%;
        }
        .target-table th {
            text-align: center;
            cellspacing: 7px;
        }
        .right_border {
            border-right: 1px solid black !important;
        }
    </style>
    <div class="clearfix">
        {% block option_container %}
        <div style="padding: 7px;">
            {% if kpi_filter_products %}
                <label>View KPI for </label>
                <select name="kpi-product-select2" class="kpi-product-select2">
                {% for product in kpi_filter_products %}
                    <option value="{{ product.pk }}" {% if filter_product and product.pk == filter_product %}selected{% endif %}>{{ product }}</option>
                {% endfor %}
                </select>
            {% endif %}
            {% if sub_heading %}
            <h4 style="margin-top: 13px;">{{ sub_heading }}</h4>
            {% endif %}
        </div>
        {% endblock option_container %}
        <div id="datatable_container">
            <table id="id_kpi_datatable" class="target-table stripe row-border order-column" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        {% for col in header_fixed_left_cols %}
                        <th rowspan="3">
                            {{ col }}
                        </th>
                        {% endfor %}
                        {% for month in months %}
                        <th colspan="4" class="right_border">
                            {{ month }}
                        </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for index in 24|times %}
                        <th colspan="2" class="right_border">
                            {% if index|mod:2 == 0 %}
                            {{ previous_year }}
                            {% else %}
                            {{ current_year }}
                            {% endif %}
                        </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for index in 48|times %}
                        <th {% if index|mod:2 == 1 %}class="right_border"{% endif %}>
                            {% if index|mod:2 == 0 %}
                            Target
                            {% else %}
                            Actual
                            {% endif %}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data_rows %}
                        <tr>
                        {% for cell in row %}
                            <td {% if not forloop.first %}style="text-align: center;"{% if forloop.counter|mod:2 == 1 %}class="right_border"{% endif %}{% endif %}>
                                {% if cell %}
                                {{ cell }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block child_script3 %}

    <script>
        $(document).ready(function() {
            $(document).ready(function() {

                var win_height = $(window).height();

                var table_height = win_height - $("#fbx-header").height() - $(".section-header").height() - 200;

                var table = $("#id_kpi_datatable").DataTable( {
                    scrollY:        table_height + "px",
                    scrollX:        true,
                    scrollCollapse: true,
                    paging:         false,
                    fixedColumns:   {
                        leftColumns: 1
                    }
                } );
            } );

            $(".kpi-product-select2").select2({ width: "200px" });

        });
    </script>
{% endblock %}
{% block child_script1 %}

{% endblock child_script1 %}