{% extends "shared/_layout.html" %}
{% load i18n %}
{% block viewport %}
    {% load blackwidow_filter %}
    <div class="container-fluid">
        <div class="fbx-container">
            {% include "shared/_header.html" %}
            <main>
                <div class="row">
                    <div id="fbx-maincontent" class="col-xs-12 col-sm-9 col-lg-10">
                        {% block header %}
                        {% endblock %}
                        {% load tz %}
                        {% localtime on %}
                            {% block content %}
                            {% endblock %}
                        {% endlocaltime %}
                    </div>

                </div>
            </main>

        </div>
        <!--//.fbx CONTAINER-->
    </div><!-- /.CONTAINER-FLUID -->

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}

    {% if enable_map == True %}
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyQCn-J4eIUUYFqGC3sfUF0aK7MbWFpeo"></script>
    {% endif %}
    {% block child_script1 %}
        <script src="{{ STATIC_URL }}assets/js/jquery.min.js"></script>
    {% endblock child_script1 %}
    <script src="{{ STATIC_URL }}assets/js/jquery.browser.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/chosen.jquery.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/bootstrap-checkbox.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/custom.fbxscript.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}assets/select2-3.5.1/select2.js"></script>
    <script src="{{ STATIC_URL }}assets/js/jquery-template/jquery.loadTemplate-1.4.4.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/moment.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/jquery.qrcode.js"></script>
    <script src="{{ STATIC_URL }}assets/js/qrcode.js"></script>
    <script src="{{ STATIC_URL }}assets/js/wizard/bwizard.js"></script>

    <script src="{{ STATIC_URL }}js/form-validation.js"></script>
    <script src="{{ STATIC_URL }}js/user-create-form.js"></script>
    <script src="{{ STATIC_URL }}js/templated-alert.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>

    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/tinymce.min.js"></script>

    {% block childscripts %}
    {% endblock %}

    {% block childscripts2 %}
    {% endblock %}

    <!-- Layout JS -->
    <script src="{{ STATIC_URL }}js/layout/layout_base.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-select2-generic-action.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-partial-tab.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-global.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-import.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-export.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-download.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-reset.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-advanced-edit-form.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-delete-item-action.js"></script>
    <script src="{{ STATIC_URL }}js/layout/layout_extras.js"></script>

    {% block child_script3 %}
    {% endblock child_script3 %}

{% endblock %}