<header>
    <div id="fbx-header" class="fbx-header">
        <nav class="navbar navbar-default navbar-fbx">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row" style="height: 80px; ">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="navbar-header custom_height" >
                        <a class="col-md-5 navbar-brand"  href="/">
                            <img class="img-responsive" id="logo_size" src="{{ STATIC_URL }}fieldbuzz_themes/img/logo.png" alt="logo"/>
                        </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse">
{#                            <span class="sr-only">Toggle navigation</span>#}
                            <a href="#" style="color: white"><i class="fa fa-bars"></i></a>
                        </button>
                    </div> <!--//.NAVBAR HEADER-->
                </div> <!--//.COL 4 -->

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div id="navbar-collapse" class="collapse navbar-collapse">

                        <ul class="nav navbar-nav fbx-nav">
                            {% for menuitem in context.menu %}
                                <li class="fbx-menuitem text-center {{ menuitem.active }}">
                                    <a href="{{ menuitem.link }}">
                                        {% if menuitem.title == "Reporting" %}
                                            <i class="fbx-icon fbx-report"></i>
                                            <span>{{ menuitem.title }}</span>
                                        {% elif menuitem.title == "Targets"%}
                                            <i class="fbx-icon fbx-target"></i>
                                            <span>{{ menuitem.title }}</span>
                                        {% elif menuitem.title == "Task Helper" %}
                                            <i class="fbx-icon fbx-task"></i>
                                            <span>{{ menuitem.title }}</span>
                                        {% elif menuitem.title == "Alerts" %}
                                            <i class="fbx-icon fbx-alerts"></i>
                                            <span>{{ menuitem.title }}</span>
                                        {% elif menuitem.title == "Execute" %}
                                            <i class="fbx-icon fbx-task"></i>
                                            <span>Execute</span>
                                        {% elif menuitem.title == "DeviceManager" %}
                                            <i class="fbx-icon fbx-device"></i>
                                            <span>Devices</span>
                                        {% else %}
                                            <i class="fbx-icon fbx-admin"></i>
                                            <span>Admin</span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right fbx-access">
                            <li class="fbx-accessitem">
                                <a href="{% url 'bw_logout' %}">
                                    <i class="fbx-icon fbx-logout"></i>
                                    <span>Log out<br>({{ context.user.name }})</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div> <!--//.ROW-->
        </nav>
    </div><!--//.FBX HEADER -->
</header><!-- *************  //HEADER END ************* -->