<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {{ context.organization.name }} {% endblock %}</title>

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="icon" href="{{ STATIC_URL }}fieldbuzz_themes/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}fieldbuzz_themes/img/apple-touch-icon.png">

    {% load static %}

    {#        <link href="{{STATIC_URL}}assets/css/main.css" rel="stylesheet" />#}
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/content.css"/>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/font-awesome.min.css" media="all"/>
    <!-- Jquery Bootstrap Datepicker -->
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/lib/datepicker/css/bootstrap-datetimepicker.min.css"
          media="all"/>
    <!-- CUSTOM  CSS  -->
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/style.css" media="all"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/jquery-ui-1.10.4.custom.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/bootstrap-datetimepicker.min.css"/>
    <link href="{{ STATIC_URL }}ace.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/validation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/graph.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/google-maps.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css"/>
    <link href="{{ STATIC_URL }}assets/icomoon/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/css/nvd-charts.css" rel="stylesheet">
    <link href='{{ STATIC_URL }}assets/css/fullcalendar/fullcalendar.css' rel='stylesheet'/>
    <link href='{{ STATIC_URL }}assets/css/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/select2-3.5.1/select2.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/select2-3.5.1/select2-bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/select2-3.5.1/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/login.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/custom.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/datepicker.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/fbx-table.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/form.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/header.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/input.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/map.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/select2.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/modal.css" media="all"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}fieldbuzz_themes/css/custom/button.css" media="all"/>


    {% block styles %}
    {% endblock %}

    <!-- MODERNIZER CSS  -->
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">
{% block viewport %}
{% endblock %}
{% block footer %}
    <div class="pull-right" style="font-size: 12px; padding: 7px; text-align: right; margin-right: 6px">Built on <a href="http://field.buzz"
                                                                                           target="_blank"
                                                                                           style="color: #00a99d;">
        <img style="max-width: 16%; margin-top: -3px" src="{{ STATIC_URL }}fieldbuzz_themes/img/fis_logo.png" alt="">
    </a> platform | <a href="http://field.buzz/impressum/" target="_blank">About</a> | <a
            href="http://field.buzz/attributions/" target="_blank">Attributions</a>
    </div>
{% endblock footer %}
{% block scripts %}
{% endblock %}
</body>
</html>