{% extends "shared/_layout.html" %}
{% load i18n %}
{% block viewport %}
    {% load blackwidow_filter %}
    {#    {% include "shared/_header.html" %}#}
    <div class="container-fluid">
        {#        {% include "shared/_leftmenu.html" %}#}
        <div class="dashboard-wrapper">
            {#            {% include "shared/_topmenu.html" %}#}
            <div class="main-container">
                <div class="page-header">
                    {% block header %}
                    {% endblock %}
                </div>
                <!--/.page-header-->
                <div class="row-fluid">
                    <div class="flash_message hide">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                        {{ message|remove_quote|safe }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="row-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
                <!--/.page-content-->
            </div>
        </div>
        <!--/.main-content-->
    </div><!--/.main-container-->
    <div tabindex="-1" class="modal hide" id="global-modal-form" style="display: none;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Add</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container" style="min-height: 150px;">

        </div>

        <div class="modal-footer">
            <button class="btn btn-small btn-cancel">
                Cancel
            </button>
            <button class="btn btn-small btn-primary btn-ok">
                Save
            </button>
        </div>
    </div>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file"/>
        </form>
    </div>



{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <!--[if lte IE 7]>
    <script src="{{STATIC_URL}}assets/css/icomoon-font/lte-ie7.js"></script>
    <![endif]-->
    {#    -------------- theme upgrade ---------------------------#}
    {% load compress %}
    {% compress js inline %}
        <script src="{{ STATIC_URL }}assets/js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}assets/select2-3.5.1/select2.js"></script>
        <script src="{{ STATIC_URL }}assets/js/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/jquery-template/jquery.loadTemplate-1.4.4.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/jquery-template/jquery.loadTemplate-1.4.4.js"></script>
        <script src="{{ STATIC_URL }}assets/js/moment.js"></script>
        <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.unobtrusive.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}assets/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ STATIC_URL }}assets/js/jquery.qrcode.js"></script>
        <script src="{{ STATIC_URL }}assets/js/qrcode.js"></script>
        <script src="{{ STATIC_URL }}assets/js/wizard/bwizard.js"></script>

        <script src="{{ STATIC_URL }}js/form-validation.js"></script>
        <script src="{{ STATIC_URL }}js/user-create-form.js"></script>
        <script src="{{ STATIC_URL }}js/templated-alert.js"></script>

        <!-- Layout JS -->
        <script src="{{ STATIC_URL }}js/layout/layout_base.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-select2-generic-action.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-partial-tab.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-modal-global.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-modal-import.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-modal-export.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-modal-reset.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-advanced-edit-form.js"></script>
        <script src="{{ STATIC_URL }}js/layout/bw-delete-item-action.js"></script>
        <script src="{{ STATIC_URL }}js/layout/layout_extras.js"></script>
    {% endcompress %}

    {% block childscripts %}
    {% endblock %}

    {% block childscripts2 %}
    {% endblock %}

{% endblock %}