<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>{% block title %}Field Buzz Mission Control {% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" itemprop="keywords" content="" />
    <meta name="author" content="">

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="icon" href="{{STATIC_URL}}fieldbuzz_themes/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}fieldbuzz_themes/img/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/bootstrap-theme.min.css" media="all" />

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/font-awesome.min.css" media="all" />

    <!-- CUSTOM  CSS  -->
    <link href="{{STATIC_URL}}assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/style.css" media="all" />
{#    <link href="{{STATIC_URL}}css/content.css" rel="stylesheet" />#}
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/custom/login.css" media="all" />
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/custom/button.css" media="all" />
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/custom/input.css" media="all" />
    <link rel="stylesheet" href="{{STATIC_URL}}fieldbuzz_themes/css/custom/form.css" media="all" />

    <!-- MODERNIZER CSS  -->
    <script src="{{STATIC_URL}}fieldbuzz_themes/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- DNS Prefetch for Google Hosted libraries.( Remove if not needed) -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">

    {% block styles %}
    {% endblock %}
</head>

<body class="home  fbx-loginbody" itemscope itemtype="http://schema.org/WebPage">

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</body>
</html>