{% extends "shared/_layout.html" %}
{% load i18n %}
{% block viewport %}
    {% load blackwidow_filter %}
    <div class="container-fluid">
        <div class="fbx-container">
            {% include "shared/_header.html" %}
            <main>
                <div class="row">
                    {% include "shared/_leftmenu.html" %}
                    <div id="fbx-maincontent" class="col-xs-12 col-sm-9 col-lg-10">
                        <section>
                            <a class="sidebar-toggle" href="#"><i class="fa fa-bars"></i></a>

                            <div class="fbx-selection">
                                <div class="section-header">
                                    <div class="row">
                                        {% block header %}
                                        {% endblock %}
                                    </div>
                                    <!--//.ROW-->
                                </div>
                                {#                                <div class="col-xs-12 col-sm-12 col-lg-12 row-fluid"#}
                                {#                                    style="background-color: rgba(0, 169, 157, 0.18);">#}
                                {#                                    <div class="flash_message hide">#}
                                {#                                        {% if messages %}#}
                                {#                                            <ul class="messages">#}
                                {#                                                {% for message in messages %}#}
                                {#                                                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>#}
                                {#                                                        {{ message|remove_quote|safe }}#}
                                {#                                                    </li>#}
                                {#                                                {% endfor %}#}
                                {#                                            </ul>#}
                                {#                                        {% endif %}#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div id="fbx-maincontent" class="fbx-content">
                                    <div class="row-fluid">
                                        <div class="col-xs-12 col-sm-12 col-lg-12 row-fluid"
                                             style="background-color: rgba(0, 169, 157, 0.18);">
                                            <div class="flash_message hide">
                                                {% if messages %}
                                                    <ul class="messages">
                                                        {% for message in messages %}
                                                            <li{% if message.tags %}
                                                                class="alert alert-{{ message.tags }}"{% endif %}>
                                                                {{ message|remove_quote|safe }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% load tz %}
                                        {% localtime on %}
                                            {% block content %}
                                            {% endblock %}
                                        {% endlocaltime %}
                                    </div>
                                    <!--//.ROW-->
                                </div>
                                <!--//.FBX CONTENT-->
                            </div>
                        </section>
                    </div>

                </div>
            </main>

        </div>
        <!--//.fbx CONTAINER-->
    </div><!-- /.CONTAINER-FLUID -->
    <div tabindex="-1" class="modal hide" id="global-modal-form"
         style="display: none;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Add</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container" style="min-height: 150px;">
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-cancel">
                Cancel
            </button>
            <button class="btn btn-small generic-btn-style btn-ok">
                Save
            </button>
        </div>
    </div>
    <div tabindex="-1" class="modal hide" id="delete-confirm-modal-form"
         style="display: none;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Confirm Delete</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container" style="min-height: 150px;">
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-cancel">
                No
            </button>
            <button class="btn btn-small generic-btn-style btn-ok">
                Yes
            </button>
        </div>
    </div>
    <div tabindex="-1" class="modal hide" id="import-modal-form"
         style="display: none; width: 30%;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Import</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container" style="min-height: 150px;">
            <form id="id_partial_import_form" action="advanced-import/" method="post" enctype="multipart/form-data">
                <div class="text-center">
                    <input id="id_import_file" name="file" type="file" style="display: none;"/>

                    <p style="width: 100%; padding: 7px;" id="id_import_file_selected">Please select a file to
                        import.</p>

                    <p style="width: 100%; padding: 7px;" class="text-center">
                        <button id="id_button_import" class="btn generic-btn-style">Browse File</button>
                    </p>
                    <p style="width: 100%; padding: 7px; display: none; color: red;"
                       id="id_import_file_error_message"></p>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-small btn-cancel">
                Cancel
            </button>
            <button class="btn btn-small generic-btn-style btn-ok">
                Start Importer
            </button>
        </div>
    </div>

    <div tabindex="-1" class="modal hide" id="advanced_edit_modal_form"
         style="display: none; width: 70%;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Export</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container" style="min-height: 150px;">
            <p style="padding: 13px;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></p>
        </div>
        <div class="progress_status_msg" class="text-center" style="display: none; background: #ffffff;">
            <p style="padding: 13px;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-small btn-cancel">
                Cancel
            </button>
            <button class="btn btn-small generic-btn-style btn-ok">
                Submit
            </button>
        </div>
    </div>

    <div tabindex="-1" class="modal hide" id="export-modal-form"
         style="display: none; width: 30%;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Export</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container" style="min-height: 150px;">

        </div>
        <div class="progress_status_msg" class="text-center" style="display: none; background: #ffffff;">
            <p style="padding: 13px;">Please wait for a while.Generating export...</p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-small btn-cancel">
                Cancel
            </button>
            <button class="btn btn-small generic-btn-style btn-ok">
                Start Export
            </button>
        </div>
    </div>

    <div tabindex="-1" class="modal hide" id="download-modal-form"
         style="display: none; width: 30%;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Download</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container" style="min-height: 150px;">

        </div>
        <div class="progress_status_msg" class="text-center" style="display: none; background: #ffffff;">
            <p style="padding: 13px;">Please wait for a while.Generating excel file for downloading...</p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-small btn-cancel">
                Cancel
            </button>
            <button class="btn btn-small generic-btn-style btn-ok">
                Start Download
            </button>
        </div>
    </div>

    <div tabindex="-1" class="modal hide" id="reset-modal-form"
         style="display: none; width: 30%;" aria-hidden="true">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="blue bigger" align="center">Change Password</h4>
        </div>
        <div class="modal-body overflow-visible ajax-container">
        </div>
        <div class="modal-footer">
            <button class="btn btn-small btn-cancel generic-danger-btn-style">
                Cancel
            </button>
            <button class="btn btn-small generic-btn-style btn-ok">
                Update
            </button>
        </div>
    </div>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}

    {% if enable_map == True %}
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyQCn-J4eIUUYFqGC3sfUF0aK7MbWFpeo"></script>
    {% endif %}
    {% block child_script1 %}
    <script src="{{ STATIC_URL }}assets/js/jquery.min.js"></script>
    {% endblock child_script1 %}
    <script src="{{ STATIC_URL }}assets/js/jquery.browser.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/chosen.jquery.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/bootstrap-checkbox.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/custom.fbxscript.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}assets/select2-3.5.1/select2.js"></script>
    <script src="{{ STATIC_URL }}assets/js/jquery-template/jquery.loadTemplate-1.4.4.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/moment.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="{{ STATIC_URL }}assets/js/jquery.qrcode.js"></script>
    <script src="{{ STATIC_URL }}assets/js/qrcode.js"></script>
    <script src="{{ STATIC_URL }}assets/js/wizard/bwizard.js"></script>

    <script src="{{ STATIC_URL }}js/form-validation.js"></script>
    <script src="{{ STATIC_URL }}js/user-create-form.js"></script>
    <script src="{{ STATIC_URL }}js/templated-alert.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>

    <script src="{{ STATIC_URL }}fieldbuzz_themes/js/tinymce.min.js"></script>

    {% block childscripts %}
    {% endblock %}

    {% block childscripts2 %}
    {% endblock %}

    <!-- Layout JS -->
    <script src="{{ STATIC_URL }}js/layout/layout_base.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-select2-generic-action.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-partial-tab.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-global.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-import.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-export.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-download.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-modal-reset.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-advanced-edit-form.js"></script>
    <script src="{{ STATIC_URL }}js/layout/bw-delete-item-action.js"></script>
    <script src="{{ STATIC_URL }}js/layout/layout_extras.js"></script>

    {% block child_script3 %}
    {% endblock child_script3 %}

{% endblock %}