{% extends 'shared/_viewport.html' %}
{% load render_table from django_tables2 %}
{% block header %}
    <div class="col-sm-1 hidden-xs">
    </div>

    <div class="col-sm-4">
        <div class="fbx-title  xs-text-center">
            <h3>Latest 5 Entries</h3>
            <small></small>
        </div>
    </div>
    <div class="col-sm-7">

    </div> <!--//.COL-->
{% endblock %}

{% block content %}

    <div class="col-xs-12 fbx-table-common" style="padding-left: 0; padding-right: 10px; margin-bottom: 10px;">
        {% for name, items in tables %}
            <h5 style="font-size: medium; color: #000000; padding-top: 20px;margin-bottom: 5px;">{{ name }}</h5>
            {% render_table items %}
        {% endfor %}
    </div> <!--//.COL 3-->

{% endblock %}
