{% load staticfiles %}
{% load custom_tags %}

<html>
<head>
    <title>Foodex International</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<div class="page">
    <header>
        <h1>Foodex International</h1>
        <img src="">
        <address>
            <p><span style="display:inline-block;font-weight:bold">Head Office:</span>Navana Tower (7th Floor),45
                Gulshan Avenue,Dhaka-1212</p>

            <p><span style="display:inline-block;font-weight:bold">Corporate Office:</span>Gulshan Grace, House #CWS
                (C)-8,Apt #4C,South Avenue</p>

            <p>Gulshan-1,Dhaka-1212, Tel: +88029886333, Fax: +8802986209</p>

            <p>E-mail:info@foodex.com.bd, Web:www.foodex.com.bd</p>
        </address>
    </header>
    <div class="invoice_heading">
        {% if data.invoice.type == 'DraftInvoice' %}
            <h5>INVOICE (Draft)</h5>
        {% else %}
            <h5>INVOICE</h5>
        {% endif %}
    </div>
    <table id="first_table">
        <tr id="first_head_row">
            <td>Invoice No</td>
            {% if data.reference_po_number %}
                <td>{{ data.invoice.invoice_number }} (PO-{{ data.reference_po_number }})</td>
            {% else %}
                <td>{{ data.invoice.invoice_number }}</td>
            {% endif %}
            <td>Dated</td>
            <td>{{ data.invoice.render_invoice_date }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ data.client.name }}</td>
            <td>Previous Balance</td>
            <td>{{ data.render_total_open_invoice_due_client|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ data.client.address }}</td>
            <td>Invoice Value</td>
            <td>{{ data.render_total_transaction_value|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>{{ data.client.phone_number }}</td>
            <td>Credit Note</td>
            <td></td>
        </tr>
        <tr>
            <td>Sales Person</td>
            <td>{{ data.invoice.created_by.name }}</td>
            <td>Total Balance</td>
            <td>{{ data.render_total_invoice_balance|floatformat:2 }}</td>
        </tr>
    </table>
    {% with data_body=data.breakdown.all|make_list %}
        {% for sub_list in data_body.sub_lists %}
            {% if forloop.counter > 1 %}
                <header class="show-on-print">
                    <h1>Foodex International</h1>
                    <img src="">
                    <address>
                        <p><span style="display:inline-block;font-weight:bold">Head Office:</span>Navana Tower (7th
                            Floor),45
                            Gulshan Avenue,Dhaka-1212</p>

                        <p><span style="display:inline-block;font-weight:bold">Corporate Office:</span>Gulshan Grace,
                            House
                            #CWS
                            (C)-8,Apt #4C,South Avenue</p>

                        <p>Gulshan-1,Dhaka-1212, Tel: +88029886333, Fax: +8802986209</p>

                        <p>E-mail:info@foodex.com.bd, Web:www.foodex.com.bd</p>
                    </address>
                </header>
                <div class="show-on-print invoice_heading">
                    <h5>INVOICE</h5>
                </div>
                <table class="show-on-print" id="first_table">
                    <tr id="first_head_row">
                        <td>Invoice No</td>
                        {% if data.reference_po_number %}
                            <td>{{ data.invoice.invoice_number }} (PO-{{ data.reference_po_number }})</td>
                        {% else %}
                            <td>{{ data.invoice.invoice_number }}</td>
                        {% endif %}
                        <td>Dated</td>
                        <td>{{ data.invoice.render_invoice_date }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ data.client.name }}</td>
                        <td>Previous Balance</td>
                        <td>{{ data.render_total_open_invoice_due_client|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ data.client.address }}</td>
                        <td>Invoice Value</td>
                        <td>{{ data.render_total_transaction_value|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td>{{ data.client.phone_number }}</td>
                        <td>Credit Note</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Sales Person</td>
                        <td>{{ data.invoice.created_by.name }}</td>
                        <td>Total Balance</td>
                        <td>{{ data.render_total_invoice_balance|floatformat:2 }}</td>
                    </tr>
                </table>
            {% endif %}
            <table id="second_table" >
                <tr {% if forloop.counter > 1 %}
                    class="show-on-print"
                {% endif %}
                    id="second_head_row">
                    <td class="sl_no">Sl No</td>
                    <td class="desc_group">Description Of Goods</td>
                    <td class="pack_size">Pack Size</td>
                    <td class="quantity">Quantity</td>
                    <td class="rate">Rate</td>
                    <td class="per">Per</td>
                    <td class="amount">Amount</td>
                </tr>
                {% for item in sub_list %}
                    <tr class="second_content_row" id="second_content_row_{{ item.index }}">
                        <td class="sl_no" style="text-align:center;"><p>{{ item.index }}</p></td>
                        <td class="desc_group" style="font-weight:bold;"><p>{{ item.product.name }}</p></td>
                        <td class="pack_size" style="text-align:center;"><p>{{ item.product.description|make_pack_size }}</p></td>
                        <td class="quantity" style="text-align:center;"><p>{{ item.total_items }}pcs</p></td>
                        <td class="rate" style="text-align:center;"><p>{{ item.unit_price }}</p></td>
                        <td class="per" style="text-align:center;"><p>Pcs</p></td>
                        <td class="amount" style="text-align:right;"><p>{{ item.total }}</p></td>
                    </tr>
                {% endfor %}
                {% if object.discount or object.gross_discount %}
                <tr class="second_content_row">
                    <td class="sl_no" style="text-align:center;"><p></p></td>
                    <td class="desc_group" style="font-weight:normal;"></td>
                    {% if data.client.type == 'Distributor' %}
                        <td class="pack_size" style="text-align:center;"><p></p></td>
                        <td class="quantity" style="text-align:center;"><p></p></td>
                        <td class="rate" style="text-align:right;"><p></p></td>
                    {% else %}
                        <td class="custom_pack_size" style="text-align:center;"><p></p></td>
                        <td class="custom_quantity" style="text-align:right;"><p></p></td>
                    {% endif %}
                    <td class="per" style="text-align:left;"><p></p></td>
                    <td class="amount" style="text-align:right;"><p></p></td>
                </tr>
                {% endif %}
                {% if object.discount %}
                <tr class="second_content_row">
                    <td class="sl_no" style="text-align:center;"><p></p></td>
                    <td class="desc_group" style="font-weight:normal;"><p><i>Less: <b style="float: right;">Discount Allowed to Parties</b></i></p></td>
                    {% if data.client.type == 'Distributor' %}
                        <td class="pack_size" style="text-align:center;"><p></p></td>
                        <td class="quantity" style="text-align:center;"><p></p></td>
                        <td class="rate" style="text-align:right;"><p>(-){{ object.discount }}</p></td>
                    {% else %}
                        <td class="custom_pack_size" style="text-align:center;"><p></p></td>
                        <td class="custom_quantity" style="text-align:right;"><p>(-){{ object.discount }}</p></td>
                    {% endif %}
                    <td class="per" style="text-align:left;"><p>%</p></td>
                    <td class="amount" style="text-align:right;"><p>(-){{ object.render_discount_amount|floatformat:"2" }}</p></td>
                </tr>
                {% endif %}
                {% if object.gross_discount %}
                <tr class="second_content_row">
                    <td class="sl_no" style="text-align:center;"><p></p></td>
                    <td class="desc_group" style="font-weight:normal;"><p><i>Less: <b style="float: right;">Gross Discount Allowed to Parties</b></i></p></td>
                    {% if data.client.type == 'Distributor' %}
                        <td class="pack_size" style="text-align:center;"><p></p></td>
                        <td class="quantity" style="text-align:center;"><p></p></td>
                        <td class="rate" style="text-align:right;"><p></p></td>
                    {% else %}
                        <td class="custom_pack_size" style="text-align:center;"><p></p></td>
                        <td class="custom_quantity" style="text-align:right;"><p></p></td>
                    {% endif %}
                    <td class="per" style="text-align:left;"><p></p></td>
                    <td class="amount" style="text-align:right;"><p>(-){{ object.gross_discount|floatformat:"2" }}</p></td>
                </tr>
                {% endif %}
            </table>
            {% if forloop.counter < data_body.sub_lists|length or data_body.last_header == True %}
                <div class="page_break_class footer_t show-on-print"
                        {% if forloop.counter == data_body.sub_lists|length %}
                            style="margin-top: {{ data_body.last_page_footer_margin_1 }}px;"
                        {% elif forloop.counter == 1 %}
                            style="margin-top: {{ data_body.first_page_footer_margin }}px;"
                        {% elif forloop.counter < data_body.sub_lists|length %}
                            style="margin-top: {{ data_body.normal_page_footer_margin }}px;"
                        {% endif %} >
                    <div class="left">
                        <p>Generated by Field.Buzz at {{ data.invoice.render_footer_date_time }}</p>
                    </div>
                    <div class="right">
                        <p>Page {{ forloop.counter }} out of {{ data_body.sub_lists|length }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if data_body.last_header == True %}
            <header class="show-on-print">
                <h1>Foodex International</h1>
                <img src="">
                <address>
                    <p><span style="display:inline-block;font-weight:bold">Head Office:</span>Navana Tower (7th
                        Floor),45
                        Gulshan Avenue,Dhaka-1212</p>

                    <p><span style="display:inline-block;font-weight:bold">Corporate Office:</span>Gulshan Grace,
                        House
                        #CWS
                        (C)-8,Apt #4C,South Avenue</p>

                    <p>Gulshan-1,Dhaka-1212, Tel: +88029886333, Fax: +8802986209</p>

                    <p>E-mail:info@foodex.com.bd, Web:www.foodex.com.bd</p>
                </address>
            </header>
            <div class="show-on-print invoice_heading">
                <h5>INVOICE</h5>
            </div>
        {% endif %}

        <table id="second_table">
            <tr id="total_row">
                <td class="sl_no"></td>
                <td class="desc_group">Total</td>
                <td style="text-align:right;">{{ data.render_total_transaction_value }}</td>
            </tr>
            <tr id="in_words_row">
                <td class="sl_no"></td>
                <td colspan="6"><p>Amount Chargeable (in words)<br><span
                        style="font-weight:bold">Taka {{ data.render_in_words }} Only</span></p></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="6"></td>
            </tr>
        </table>

        <table class="third_table">
            <tr>
                <td class="">
                    <p>We received the above products in good conditions and <br>as per stated above in this in Invoice
                    <p>
                </td>
                <td>
                    <p>for Foodex International</p>
                </td>
            </tr>
            <tr id="signature_row">
                <td>
                    <p style="float: left; margin-top:0px; ">Remarks<br>{{ data.remarks }}</p>
                    <p style="float: right">Customer's Signature</p>
                </td>
                <td>
                    <p style="float: left">Accounts Signature</p>
                    <p style="float: right">Authorized Signature</p>
                </td>
            </tr>
        </table>
        <div class="footer_t show-on-print"
             style="margin-top: {{ data_body.last_page_footer_margin_2 }}px;">
            <div class="left">
                <p>Generated by Field.Buzz at {{ data.invoice.render_footer_date_time }}</p>
            </div>
            <div class="right">
                <p>Page
                    {% if data_body.sub_lists|length > 1 %}
                    {{ data_body.sub_lists|length }} out of {{ data_body.sub_lists|length }}
                    {% else %}
                    {{ data_body.sub_lists|length }} out of {{ data_body.sub_lists|length }}
                    {% endif %}
                </p>
            </div>
        </div>
    {% endwith %}
</div>
</body>
</html>