{% extends 'shared/_viewport.html' %}
{% block header %}
    <h1>
        Access violation
        <small>
            <i class="icon-double-angle-right"></i>

        </small>
    </h1>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="alert alert-error">
            You do not have permission to view this content
        </div>
    </div>
{% endblock %}

