{% extends 'shared/_viewport.html' %}
{% block header %}
    <div class="col-sm-1 hidden-xs"></div>

    <div class="col-sm-5 col-md-4 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3>Notification</h3>
            {#            <small>Details</small>#}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div>
            No data found to be shown here. This page will be automatically updated when there are new data in the system.
        </div>
        <div>

        </div>
    </div>
{% endblock %}