{% extends 'shared/_viewport.html' %}
{% block header %}
    <div class="col-sm-1 hidden-xs">

    </div>

    <div class="col-sm-5 col-md-4 titleclass">
        <div class="fbx-title  xs-text-center">
            <h3>Work In Progress</h3>
            {#            <small>Manage &amp; Status</small>#}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <div class="alert alert-success">
            This feature is coming soon.
        </div>
    </div>
{% endblock %}