{% extends 'shared/_customized_viewport.html' %}
{% block header %}

{% endblock %}
{% block styles %}
    <style>
        .main-content {
            min-height: 570px;

        }
        .content-body {
            background-color: #ffffff;
            border-radius: 8px;
            padding-top: 30px;
            height: 300px;
        }
        .content-body img{
            display: block; margin: 0 auto;
        }
        .content-body h1{
            text-align: center;
            padding-top: 25px;
            font-weight: bold;
            font-family: Helvetica,Arial, sans-serif;
            font-size: 28px;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="col-xs-12" style="padding-bottom: 140px;"></div>

        <div class="col-xs-12">
            <div class="col-xs-4"></div>

            <div class="content-body col-xs-6">
                <img src="{{STATIC_URL}}fieldbuzz_themes/img/logo.png" alt=""/>
                <h1>WELCOME<br> TO<br> Foodex International</h1>
                <h1 style="padding-top: 50px; font-size: medium">Powered by Fieldbuzz</h1>
            </div>

            <div class="col-xs-2"></div>
        </div>
    </div>

{% endblock %}
